<div class="container">
<div class="row" style="background: rgb(243, 243, 243) none repeat scroll 0% 0%;">
<div class="col-md-30" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px;">
<div class="form-inline">
<%= form_for(@chamado, url: {action: "procurar"}, html: {class: "inline-form"}) do |f| %>
  <div class="form-group col-sm-6">
    <label>Bairro: </label>
    <%=select_tag "chamado[bairro]", options_for_select(bairros.collect{ |u| [u] }) , :class => "form-control", :style => "width: 150px" %>
    <button type="submit" class="btn btn-default" >Procurar por bairro</button>
    </div>
<% end %>
<%= form_for(@chamado, url: {action: "procurarLogradouro"}, html: {class: "inline-form"}) do |f| %>
  <div class="form-group col-sm-6">
      <label>Logradouro: </label>
      <%=select_tag "chamado[logradouro]" , options_for_select(logradouros.collect{ |u| [u] }), :class => "form-control" , :style => "width: 150px"%>
    <button type="submit" class="btn btn-default" >Procurar por logradouro</button>
  </div>
<% end %>
</div>
<br></br>
<br></br>
 <table class="table table-striped" style="width: 100%">
  <thead>
   <TR>
    <TH> Serviço </TH>
    <TH> Bairro </TH>
    <TH> Logradouro </TH>
    <TH> Data de Criação </TH>
    <TH> Situação </TH>
    <TH> Monitorar </TH>
  </TR>
  </thead>
  <tbody>
<% @chamados.each do |chamado| %>                    
    <tr>
    <td><%=chamado.servico %></td>
    <td><%=chamado.bairro %></td>
    <td><%= chamado.logradouro %></td>
    <td><%= chamado.data_demanda %></td>
    <td><%= chamado.situacao %></td>
    <td><%= check_box_tag "listing_featured", "Featured", :value=>1 %></td>
     </tr>
<% end %>
  </tbody>
</table>
<script src="assets/chamado.js"></script>
</div>
</div>
</div>