 <script>
   $('#name_edit').validator();
   $('#email_edit').validator();
   $('#password_edit').validator();
</script>
<br></br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="form-body" style="background: rgb(243, 243, 243) none repeat scroll 0% 0%;">
    <ul class="nav nav-tabs tab">
        <li class="active"><a data-toggle="tab" href="#sectionA" id="name_edit">Alterar Nome</a></li>
        <li><a data-toggle="tab" href="#sectionB" id="email_edit">Alterar e-mail</a></li>
        <li><a data-toggle="tab" href="#sectionC" id="password_edit">Alterar Senha</a></li>
    </ul>
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
        <div class="innter-form">
            <%= form_for(@user, url: edit_users_path, data:{toggle:"validator"},:html=> {:id => 'name_edit',:method=> "post"}) do |f| %>

            <form method="post">
                <div class="form-group">
                    <label for="first_name">Nome</label>
                    <input type="text" pattern="^\s*[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ][A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ '-]{1,}$" class="form-control" id="first_name" name="user[first_name]" value="<%=@user.first_name%>" data-error="Digite um nome válido!" require>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="last_name">Sobrenome</label>
                    <input type="text" pattern="^\s*[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ][A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ '-]{1,}$" class="form-control" id="last_name" name="user[last_name]" value="<%=@user.last_name%>" data-error="Digite um nome válido!" require>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Senha:</label>
                    <input type="password" data-minlength="6" class="form-control" id="inputPassword_name" placeholder="Password"  name="user[password]" required>
                </div>
                <button type="submit" class="btn btn-success btn-lg" style="width:100%">Editar Nome</button>
            </form>
            <% end %>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="sectionB" class="tab-pane fade">
			
			<%= form_for(@user, url: edit_users_path, data:{toggle:"validator"},:html=> {:id => 'email_edit',:method=> "post"}) do |f| %>
			<p></p>
            <form method="post">
                 <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="user[email]" value=<%=@user.email%> data-error="Digite um e-mail válido!" required >
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="emailConfirm">Confirmar E-mail</label>
                    <input type="email" class="form-control" id="emailConfirm" name="user[email_confirm]" data-match="#email" data-match-error="E-mails não coincidem!" data-error="Digite um e-mail válido!" required >
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Senha:</label>
                    <input type="password" data-minlength="6" class="form-control" id="inputPassword_email" placeholder="Password"  name="user[password]" required>
                </div>
                <button type="submit" class="btn btn-success btn-lg" style="width:100%">Editar E-mail</button>
            </form>
            <% end %>
            
        </div>
        <div id="sectionC" class="tab-pane fade">
			
			<%= form_for(@user, url: edit_users_path, data:{toggle:"validator"},:html=> {:id => 'password_edit',:method=> "post"}) do |f| %>
			<p></p>
            <form method="post">
                <div class="form-group">
                    <label for="inputPassword">Senha:</label>
                    <input type="password" data-minlength="6" class="form-control" id="inputPassword_pass" placeholder="Password"  name="user[password]" required>
                </div>
                <div class="form-group">
                    <label for="inputNewPassword">Nova Senha:</label>
                    <input type="password" data-minlength="6" class="form-control" id="inputNewPassword" placeholder="Password"  name="user[new_password]" required>
                </div>
                <div class="form-group">
                    <label for="inputNewPasswordConfirm">Confirmar Nova Senha:</label>
                    <input type="password" data-minlength="6" class="form-control" id="inputNewPasswordConfirm" placeholder="Password"  data-match="#inputNewPassword" data-match-error="Senhas não coincidem!" name="user[new_password]" required>
                    <div class="help-block with-errors"></div>
                </div>
                <button type="submit" class="btn btn-success btn-lg" style="width:100%">Editar Senha</button>
            </form>
            <% end %>
            
        </div> 
    </div>
    </div>
    </div>
    </div>
    </div>
